header {
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      160deg,
      rgba(0, 0, 0, 1) 44%,
      rgba(112, 0, 0, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }
  
  #itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 300px;
  }
  
  .item img {
    max-width: 100%;
  }
  
  .item h2 {
    margin-top: 0;
  }

  .explore {
    background: transparent;
    color: white;
    border: 1px solid white;
    &:hover {
      background: white;
      color: rgb(0, 0, 0);
    }
  }
  .explore>a {
    text-decoration: none;
    border: none;
  }


  